.pri_button{
	color:white;
	background-color:blue;
	padding:10px 15px;
	border-radius:8px;
	border:none;
 
}
.sec_button{
	color:white;
	background-color:#6c757d;
	padding:10px 15px;
	border-radius:8px;
	border:none;

}
.suc_button{
	color:white;
	background-color:#13a15e;
	padding:10px 15px;
	border-radius:8px;
	border:none;
}
.dan_button{
	color:white;
	background-color:#c5283a;
	padding:10px 15px;
	border-radius:8px;
	border:none;
}
.warn_button{
	color:#026b81;
	background-color:#febe03;
	padding:10px 15px;
	border-radius:8px;
	border:none;

}
.info_button{
	color:#026b81;
	background-color:#09cbef;
	padding:10px 15px;
	border-radius:8px;
	border:none;
}
.lig_button{
	color:#026b81;
	background-color:#f9f9fb;
	padding:10px 15px;
	border-radius:8px;
	border:none;
 
}
.dark_button{
	color:white;
	background-color:#202527;
	padding:10px 15px;
	border-radius:8px;
	border:none;
}
.btn{
	padding:20PX;
	text-decoration:none;
	
}
a{
	padding:10px 15px;
	border:none;
	
}
.link_color{
	color:blue;
	background-color:transparent;
	padding:10px 15px;
	text-decoration:underline;
	cursor:pointer;	
	border:none;
}